*{
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.4rem;
}

body{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

form>*{
    margin-bottom: 20px;
}

form p, div{
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
    object-fit: contain;
    height: 100px;
    display: flex;
    justify-content: center;
}

select{
    padding: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid white;
}

button{
    cursor: pointer;
    background: none;
    border: 1px solid white;
    padding: 10px;
}

button:active{
    background: black;
    color: white;
}

h1, div{
    text-align: center;
}

#player{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 999px;
    background: lightcoral;
}

.darken{
    position: fixed;
    top: 0;
    background: #0009;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

option{
    background: black;
}

select:focus, button:focus{
    border: 1px solid blueviolet;
    outline: transparent;
}

div>*{
    margin-bottom: 20px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
