* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body {
  overflow: hidden;
  padding: 100px 0;
  justify-content: center;
  background: linear-gradient(to right, blue, violet7);
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.item {
  cursor: pointer;
  padding: 20px;
  transition: 0.1s ease;
}

.item:hover {
  background: #eee;
}

.selecionado {
  background: lightcoral;
}

button {
  cursor: pointer;
  background: black;
  color: white;
  padding: 10px 20px;
  font-size: large;
  border: none;
}

.borda {
  border: 1px solid black;
}

button:active {
  filter: none;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}

#caixa1 .selecionado {
  background: #0f09 !important;
  color: black !important;
}

#caixa2 .selecionado {
  background: #f009 !important;
  color: white !important;
}

.cursor::before {
  content: "> ";
}

.cursor {
  background: #ddd;
}

.caixa{
  width: 300px;
}

@media(width<900px){
  body{
    padding: 10px;
    flex-direction: column;
    overflow: auto;
  }

  .caixa{
    width: 100%;
    min-height: 100px;
  }
}
